body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Navbar */
.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 16px 64px;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-title {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;

}

.nav-title img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.nav-title h4 {
  font-size: 24px;
  margin-left: 14px;
  color: rgba(148, 84, 38, 0.801);
  letter-spacing: 2px;
}

.nav-links {
  display: flex;
  list-style: none;
  line-height: 60px;
}

.nav-links a{
  margin: 0 30px;
  font-size: 19px;
  letter-spacing: 2px;
  cursor: pointer;
  color: #333;
}

.nav-links a:hover {
  color: rgba(210, 105, 30, 0.781);
}

/* About */
.section-about {
  width: 85vw;
  margin: 0 auto;
  text-align: center;
  margin-top: 64px;
}
.section-about img {
  width: 200px;
}
.about-detail p {
  text-align: center;
}
.contact-detail {
  align-items: center;
  position: relative;
}
.contact {
  list-style: none;
  padding: 0;
}
.contact li {
  height: 18px;
  color: rgba(210, 105, 30, 0.781);
  margin: 12px;
  padding: 10px;
  display: inline-block;
  border-radius: 50%;
  border: 0.3px solid rgba(218, 218, 218, 0.925);
}
.contact li:hover {
  background-color: rgba(210, 105, 30, 0.781);
  color: #fff;
}

/* Search */
.search {
  margin-top: 56px;
  margin-bottom: 80px;;
}
.search-form {
  width: 50vw;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  /* background-color: rgb(41, 22, 8); */
}
.form-control label {
  display: block;
  font-size: 21px;
  letter-spacing: 4px;
  margin-bottom: 18px;
  font-weight: bold;
  color: rgba(210, 105, 30, 0.781);
}
.form-control input {
  width: 97%;
  font-size: 21px;
  border-radius: 4px;
  padding: 8px;
  background-color: rgb(241, 245, 248);
  border: none;
}
.form-control input:focus {
  outline: none;
  background-color: rgba(210, 105, 30, 0.781);
}
.result-search{
  text-align: center;
  font-size: 24px;
}
/* Coffees */
.coffee-list {
  padding:80px 0;
  background: rgba(148, 84, 38, 0.801);

}
.coffee-list-title{
  text-align: center;
  letter-spacing:4px;
  font-size: 32px;
  margin-bottom: 38px;
}
.coffees{
  width: 80vw;
  display: grid;
  margin: 0 auto;
  row-gap: 32px;
  column-gap: 42px;
}
@media screen and (min-width: 576px) {
  .coffees {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}
/* Coffee */
.coffee {
  background-color: #fff;
  transition: all 0.3s linear;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: auto 1fr;
  margin-bottom: 32px;
  border-radius: 4px;
}
.coffee:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.coffee .img-coffee img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.coffee .coffee-detail {
  padding: 0px 24px 24px;
}
.coffee-detail h3 {
  font-size: 32px;
  margin-top: 12px;
}
.btn-back,
.coffee-detail a {
  background-color: rgb(219, 145, 48);
  padding: 8px 12px;
  letter-spacing: 4px;
  text-decoration: none;
  border-radius: 4px;
  color: white;
}
.btn-back:hover,
.coffee-detail a:hover {
  color: rgb(219, 145, 48);
  background-color: rgba(219, 145, 48, 0.3);
}
/* Single Coffee */
.single-coffee {
  width: 80vw;
  margin: 0 auto;
  padding: 80px 0;
  text-align: left;
  align-items: center;
}
.single-drink {
  display: flex;
  margin-top: 54px;
  justify-content: center;
}
.single-drink img {
  width: 30%;
  border-radius: 4px;
}
.single-drink-info {
  margin-left: 42px;
}
.single-drink-info p {
  margin-bottom: 20px;
  font-weight: bold;
}
.single-drink-info .data {
  line-height: 40px;
  padding: 5px;
  background-color: rgb(250, 210, 159);
  border-radius: 4px;
  color: rgb(219, 145, 48);
  font-weight: bold;
  margin-right: 8px;
}
.data-ingredient {
  margin-right: 16px;
}
/* Error */
.error {
  width: 100%;
  text-align: center;
  margin-top: 48px;
}
/* Loading */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgba(210, 105, 30, 0.781);
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  align-items: center;
  justify-content: space-around;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
